
%div.jumbotron
	%div.container
		%h1 Welcome to Twiddr!
		%p
			This is a sample application built using Ruby on Rails. Simply a twitter clone application.
		%p
			= link_to "Get Started", new_user_registration_path, class:"btn btn-primary btn-lg"


